<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <button onclick="history.back()">Back</button>
    <a href="/users/logout">Logout</a>
    <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>

    <ul>
      <% if(messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>
    
    <form action="/users/package/track" method="POST">
      <div>
        <input
          type="number"
          min="0"
          id="trackingnum"
          name="trackingnum"
          placeholder="Tracking Number"
          required
        />
      </div>
      <div><input type="submit" value="Track" /></div>
    </form>

    <table>
      <thead>
        <tr>
          <th>Package ID</th>
          <th>Warehouse ID</th>
          <th>Truck ID</th>
          <th>Destination</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <% if(typeof packages != 'undefined') { %> <% packages.forEach(package =>
      { %>
      <tbody>
        <td>
          <a href="/users/packages/<%= package.packageid %>"><%= package.packageid %></a>
        </td>
        <td><%= package.warehouseid %></td>
        <td><%= package.truckid %></td>
        <td><%= package.destination %></td>
        <td><%= package.status %></td>
        <% if(package.status != 'DELIVERY' && package.status != 'DELIVERED') { %>
          <td><a href="/users/packages/<%= package.packageid %>/changedest">Change Destination</a></td>
        <% } else {%>
          <td>-</td>
        <% } %>
      </tbody>
      <% }) %> <% } %>
    </table>
  </body>
</html>
