<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Package</title>
  </head>
  <body>
    <button onclick="history.back()">Back</button>
    <% if(typeof guest == 'undefined') { %>
    <a href="/users/logout">Logout</a>
    <% } %>
    <h1>Package <%= id %></h1>

    <% if(status != 'ERROR') { %>
    <div class="stage-wrapper">
      <% if(typeof stages != 'undefined') { %> <% stages.forEach(stage => { %>
      <div class="<%= stage.className %>">
        <div class="stage-counter"><%= stage.count %></div>
        <div class="stage-name"><%= stage.stageName %></div>
      </div>
      <% }) %> <% } %>
    </div>
    <% } %>

    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <% if(typeof items != 'undefined') { %> <% items.forEach(item => { %>
      <tbody>
        <td><%= item.description %></td>
        <td><%= item.count %></td>
      </tbody>
      <% }) %> <% } %>
    </table>
  </body>
</html>
