<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
      integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track Package</title>
  </head>
  <body>
    <% if(typeof guest == 'undefined') { %>
        <a href="/users/logout">Logout</a>
    <% } %>
    <h1>Tracking Number <%= trackingnum %></h1>

    <table>
      <thead>
        <tr>
          <th>Package ID</th>
          <th>Warehouse ID</th>
          <th>Truck ID</th>
          <th>Destination</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <% if(typeof package != 'undefined') { %>
      <tbody>
        <% if(typeof guest == 'undefined') { %>
          <td>
              <a href="/users/packages/<%= package.packageid %>" ><%= package.packageid %></a>
          </td>
      <% } else { %>
          <td>
              <a href="/guest/packages/<%= package.packageid %>" ><%= package.packageid %></a>
          </td>
      <% } %>
        <td><%= package.warehouseid %></td>
        <td><%= package.truckid %></td>
        <td><%= package.destination %></td>
        <td><%= package.status %></td>
        <% if(typeof guest == 'undefined' && package.status != 'DELIVERY' && package.status != 'DELIVERED') { %>
            <td>
            <a href="/users/packages/<%= package.packageid %>/changedestination">Change Destination</a>
            </td>
        <% } else {%>
          <td>-</td>
        <% } %>
      </tbody>
      <% } %>
    </table>
  </body>
</html>
